h1 {
    color: green;
    text-align: center;
    border-bottom: 5px solid orange;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0px;
    display: block;
}
p {
    margin: 0px;
    display:inline;
}
#green_clr {
    color: green;
}
div {
    color:green;
    display: inline;
}
.odd p {
    color:orange;
}

.square {
    width: 80px;
    height: 80px;
    
    margin-right: 20px;
    float: left;
    
    font-size: 50px;
    text-align: center;
    
    color: orange;
    background: greenyellow;
}

.circle {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    float: left;

    font-size: 50px;
    border-radius: 40%;
    text-align: center;
    
    color: orange;
    background: green;
}